@model List<Employee.Models.EmployeeEntity>

<h1>List of Employees</h1>

<a asp-controller="Home" asp-action="Insert"> Add New Employee</a>
<br />

<a asp-controller="Home" asp-action="Search"> Search Employee by EmployeeID</a>
<br /><br />

<h1>First 20 Entries Sorted by EmployeeID</h1>

<table border="1" cellpadding="10">
    @foreach(var item in Model)
    {
    <tr>
        <td>@item.EmployeeID</td>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>
            <a asp-controller="Home" asp-action="Update" asp-route-id="@item.Id">Edit</a>
        </td>
        <td>
            <a asp-controller="Home" asp-action="ConfirmDelete" asp-route-id="@item.Id">Delete</a>
        </td>

    </tr>
    }
</table>

<br />
<h1>@TempData["Message"]</h1>

<br />
<div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
