@model Employee.Models.EmployeeEntity

<h1>Search Employee</h1>

<form asp-controller="Home" asp-action="Search" method="post">

    <table border="1" cellpadding="10">
        <tr>
            <td>Employee ID :</td>
            <td><input asp-for="EmployeeID" /></td>
        </tr>
            <td colspan="2">
                <button type="submit">Search</button>
            </td>
        </tr>
    </table>

<br/ >
<h1>Search Result</h1>

    <table border="1" cellpadding="10">
        <tr>
            <td>Employee ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Photo</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr>
            <td>@Model.EmployeeID</td>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>

            @if(Model.Image != null)
            {
                string base64String = Convert.ToBase64String(Model.Image);
        	var imgsrc = string.Format("data:image/jpeg;base64,{0}", base64String);
                <td> <img src="@imgsrc" alt="" style="width: 120px; height: 180px;"> </td>
            }
            else
            {
                <td> <img src="" alt="" style="width: 120px; height: 180px;"> </td>
            }

            @if (!string.IsNullOrEmpty(@Model.Id))
            {
                 <td> <a asp-controller="Home" asp-action="Update" asp-route-id="@Model.Id">Edit</a> </td>
                 <td> <a asp-controller="Home" asp-action="ConfirmDelete" asp-route-id="@Model.Id">Delete</a> </td>
            }
            else
            {
                 <td>Edit</td>
                 <td>Delete</td>
            }
        </tr>

    </table>

<br/ >
<h1><font color="@ViewBag.Color">@ViewBag.Message</font></h1>
<h2><font color="@ViewBag.Color">Elapsed Time: @ViewBag.Time (ms)</font></h2>
<br/ >

</form>
